VITE_SUPABASE_URL=https://tnqeoiewddhtlxdqchjh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRucWVvaWV3ZGRodGx4ZHFjaGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MjAyMzgsImV4cCI6MjA5NTQ5NjIzOH0.zUUKJD-10Kl7ZLBHtVUMBQYxHZ4ZAqtr96a6darbKKc
